<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sosial.sudoers.sosial">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register"
            android:parentActivityName=".LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sosial.sudoers.sosial.LoginActivity" />
        </activity>
        <activity
            android:name=".MemberActivity"
            android:label="@string/title_activity_member"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sosial.sudoers.sosial.MainActivity" />
        </activity>
        <activity
            android:name=".TriggerActivity"
            android:label="@string/trigger" />
        <activity
            android:name=".MessagingActivity"
            android:label="@string/title_activity_messaging"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sosial.sudoers.sosial.MainActivity" />
        </activity>
        <activity
            android:name=".Inbox"
            android:label="@string/title_activity_inbox"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sosial.sudoers.sosial.MainActivity" />
        </activity>

        <service
            android:name=".TriggerChecker"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".TriggerCheckerBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="RestartServiceWhenStopped">
            <intent-filter>
                <action android:name=".RestartSensor" />
            </intent-filter>
        </receiver>
        <activity
            android:name=".ViewMessageActivity"
            android:label="@string/title_activity_view_message"
            android:parentActivityName=".Inbox"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sosial.sudoers.sosial.Inbox" />
        </activity>
    </application>

</manifest>